.hint {
    color: #000;
    font-size: 20px;
    font-weight: normal;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #dcd0ff;
    width: 450px;
    height: 200px;
    border-radius: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out;
    z-index: -1;
}
.hint.show {
    opacity: 1;
    z-index: 3;
}
.hint_btn {
    position: absolute;
    top: 88%;
    right: 5%;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #ffffff;
    color: #ff8000;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.hint_btn:hover {
    background: #cecece;
}
.hint_btn:active {
    background: #9d9d9d;
    transform: translateY(2px);
}